<style>
    .blog-main {
        font-size: 18px;
        line-height: 1.5;
    }

    .blog-post {
        margin-bottom: 60px;
    }

    .blog-post-title {
        font-size: 40px;
        margin-bottom: 5px;
    }

    .blog-post-meta {
        color: #999;
        margin-bottom: 20px;
    }

    .divcss5 {
        text-indent: 35px;
    }
</style>
<div class="row">
    <div id="content" class="col-lg-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">首页</a>
                        </li>
                        <li>
                            <a ui-sref="AssignTask">工作提醒</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box border primary">
                    <div class="box-title">
                        <h4>院内公告</h4>
                    </div>
                    <div class="box-body blog-main">
                        <div class="blog-post">
                            <h3 class="blog-post-title text-center">{{data.Subjects}}</h3>
                            <p class="blog-post-meta text-center">{{data.RecordDate | dateFormat}}</p>
                            <p class="divcss5"><span ng-bind-html="data.Contents | htmlContent"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <a class="btn btn-primary" href="javascript:history.go(-1)">返回</a>
                </div>
            </div>
        </div>
    </div>
</div>



