
<style type="text/css">
    .comboText {
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>

<div class="row">
    <div id="content" class="col-lg-12">
        <!--标题-->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">首页</a>
                        </li>
                        <li>
                            外出登记
                        </li>
                    </ul>

                </div>


            </div>
        </div>
        <!--标题-->

        <div class="row">
            <div class="col-sm-2">
                <div class="box border primary">
                    <div class="box-title">
                        <h4>
                            <i class="fa fa-bars"></i>住民信息
                        </h4>
                    </div>
                    <div class="box-body">
                        <resident-card feeno={{FeeNo}} ipd_flag={{ipd}} callback="residentSelected(resident)" />
                    </div>
                </div>
            </div>

            <div class="col-sm-10">
                <div class="box border primary">
                    <div class="box-title">
                        <h4>
                            <i class="fa fa-bars"></i>请假记录
                        </h4>
                    </div>

                    <div class="box-body">
                        <form class="form-horizontal" role="form" name="Leavefrom" ng-submit="saveEdit(currentItem)">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">事由</label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="selLeNote" ng-model="currentItem.LeNote" select-code="A00.048"></select>
                                </div>
                                <label class="col-sm-1 control-label">离开去处</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="currentItem.Address" ng-maxlength="200">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">开始时间<span class="required">*</span></label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="text" ng-model="currentItem.StartDate" ca-date-time-picker end="currentItem.EndDate" ng-change="dateChange()" required />
                                </div>
                                <!--<label class="col-sm-1 control-label">预计返回时间</label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="text" ng-model="currentItem.EndDate" ca-date-time-picker start="currentItem.StartDate" ng-change="startendchage()" />
                                </div>-->
                                <label class="col-sm-1 control-label">联系人</label>
                                <div class="col-sm-5" id="ContNamediv">
                                    <div style="position:relative;">
                                        <span id="spanwidth" style="width:18px;overflow:hidden;">
                                            <select class="comboText" style="height:34px; padding-left:10px;" id="selContName" ng-model="currentItem.ContName" name="联系人" ng-change="change()">
                                                <option ng-repeat="item in Data.ContactList" value="{{item.Name}}" conttel="{{item.Phone}}" contrel="{{item.Contrel}}">{{item.Name}}
                                            </select>
                                        </span>
                                        <input name="box" id="inputwidth" ng-maxlength="20" class="comboText" ng-model="currentItem.ContName" style="position:absolute;left:0px; padding-left:10px; height:34px;">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label class="col-sm-1 control-label">联系人</label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="selContName" ng-model="currentItem.ContName" ng-change="change()">
                                        <option ng-repeat="item in Data.ContactList" value="{{item.Name}}" conttel="{{item.Phone}}" contrel="{{item.Contrel}}">{{item.Name}}</option>
                                    </select>
                                </div>-->



                                <label class="col-sm-1 control-label">联系人关系</label>
                                <div class="col-sm-5">
                                    <select class="form-control" ng-model="currentItem.ContRel" select-code="A00.030"></select>
                                </div>
                                <label class="col-sm-1 control-label">联系人电话</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="currentItem.ContTel" ng-maxlength="20">
                                </div>
                            </div>
                            <div class="form-group">

                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">返回时间<span class="required">*</span></label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="text" ng-model="currentItem.ReturnDate" placeholder="住民返回时，请准确填写实际返回日期" start="currentItem.StartDate" ca-date-time-picker ng-change="dateChange()" required />
                                </div>
                                <label class="col-sm-1 control-label">离开小时数</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" ng-model="currentItem.LeHour" ng-pattern="/^\d*$/" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-7">
                                    <button class="btn btn-primary" type="submit" ng-show="buttonShow" ng-disabled="Leavefrom.$invalid">保存</button>
                                    <button class="btn btn-primary" type="reset" ng-show="buttonShow" ng-click="btncurrentItem()">重置</button>
                                    <button class="btn btn-primary" type="button" ng-click="hrefLeaveHospList()">住民外出登记</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box border primary">
                    <div class="box-title">
                        <h4>
                            <i class="fa fa-table"></i>请假记录列表
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="pull-right">
                            <div style="margin-bottom:10px">
                                <a class="btn btn-primary" ng-click="outPrint()">导出外出请假记录</a>
                            </div>
                        </div>
                        <ui-data-table options="options">
                            <table class="table table-striped table-bordered table-hover table-handler">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>编码</th>
                                        <th>开始时间</th>
                                        <th>预计返回时间</th>
                                        <th>实际返回时间</th>
                                        <th>离开小时数</th>
                                        <th>事由</th>
                                        <th>联系人</th>
                                        <th>联系电话</th>
                                        <th><i class="fa fa-bars"></i> 操作</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in Data.leaveHosps">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.ShowNumber}}</td>
                                        <td>{{item.StartDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{item.EndDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{item.ReturnDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{item.LeHour}}</td>
                                        <td><span select-code="A00.048" select-value="{{item.LeNote}}"></span></td>
                                        <td>{{item.ContName}}</td>
                                        <td>{{item.ContTel}}</td>
                                        <td>
                                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                                <!--<a class="btn btn-info" role="button" ng-click="rowSelect(item)"><i class="fa fa-pencil"></i>编辑</a>-->
                                                <a class="btn btn-primary" role="button" ng-click="deleteItem(item)"><i class="fa fa-times"></i>删除</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </ui-data-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


