<div class="row">
    <div id="content" class="col-md-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">首页</a>
                        </li>
                        <li>退费作业</li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
               <div class="col-sm-2">
                    <div class="box border primary">
                        <div class="box-title">
                            <h4>
                                <i class="fa fa-bars"></i>住民信息
                            </h4>
                        </div>
                        <div class="box-body">
                            <resident-card feeno={{FeeNo}} callback="txtResidentIDChange(resident)" />
                        </div>
                    </div>
                </div>
                <div class="col-md-10 selectedResidentDataContainer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-body mgt20">
                                <div class="tabbable header-tabs">
                                    <ul class="nav nav-tabs" id="tabResident">
                                        <li ui-sref-active="active">
                                            <a ui-sref=".BillRefund"><i class="fa fa-circle-o"></i><span class="hidden-inline-mobile">退费</span></a>
                                        </li>
                                        <li>
                                            <a ui-sref=".BillRefundRec"><i class="fa fa-calendar-o"></i><span class="hidden-inline-mobile">历史退费记录</span></a>
                                        </li>
                                        <li>
                                            <a ui-sref=".AdvanceChargeRefund"><i class="fa fa-laptop"></i><span class="hidden-inline-mobile">预收款退费</span></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div ui-view=""></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
