<div class="row">
    <div id="content" class="col-md-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <!-- BREADCRUMBS -->
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">首页</a>
                        </li>

                        <li>非计划体重改变</li>
                    </ul>
                    <!-- /BREADCRUMBS -->

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box border primary">
                    <div class="box-title">
                        <h4><i class="fa fa-search"></i>依区域房间筛选</h4>
                    </div>
                    <div class="box-body container-fluid">
                        <form class="form-horizontal" role="form" novalidate>
                            <div class="form-group">
                                <div class="col-md-1 text-right">
                                    <label for="sltFloor" class="control-label">楼层</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="sltFloor" ng-model="Data.FloorName" class="form-control" ng-options="item.FloorId as item.FloorName for item in Data.floors">
                                        <option></option>
                                    </select>

                                </div>
                                <div class="col-md-1 text-right">
                                    <label for="sltRoom" class="control-label">居住房间</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="sltRoom" ng-model="Data.RoomName" class="form-control" ng-options="item.RoomNo as item.RoomName for item in Data.rooms">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-primary" ng-click="loadUnPlanWeight()">查询</button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box border primary">
                    <div class="box-title">
                        <h4><i class="fa fa-table"></i>非计划体重批量输入</h4>
                        <div class="tools hidden-xs">

                            <!--<a href="#box-config" data-toggle="modal" class="config">
                                <i class="fa fa-cog"></i>
                            </a>-->
                            <a class="reload" href="javascript:;" ca-reload>
                                <i class="fa fa-refresh"></i>
                            </a>
                            <a href="javascript:;" class="collapse" ca-collapse>
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="remove" href="javascript:;" ca-remove>
                                <i class="fa fa-times"></i>
                            </a>

                        </div>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal" role="form" name="lform" novalidate>
                            <!--<ui-data-table options="options">-->
                            <table class="table table-bordered" id="editTable">
                                <thead>
                                    <tr>
                                        <th style="width: 60px">姓名</th>
                                        <th style="width: 60px">体重</th>
                                        <th style="width: 60px">身高</th>
                                        <th style="width: 60px">腰围</th>
                                        <th style="width: 60px">臀围</th>
                                        <th style="width: 60px">膝长</th>
                                        <th style="width: 160px">测量日期</th>
                                        <th style="width: 160px">非计划</th>
                                        <th style="width: 180px">记录人员</th>
                                        <th style="width:60px">新增本笔</th>
                                        <th style="width:100px">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="info in Data.List">
                                        <td>{{info.Name}}</td>
                                        <td>
                                            <input type="number" class="form-control list" ng-model="info.ThisWeight" />
                                        </td>
                                        <td>
                                            <input type="number" class="form-control list" ng-model="info.ThisHeight" />
                                        </td>
                                        <td>
                                            <input type="number" class="form-control list" ng-model="info.Waist" />
                                        </td>
                                        <td>
                                            <input type="number" class="form-control list" ng-model="info.Hipline" />
                                        </td>
                                        <td>
                                            <input type="number" class="form-control list" ng-blur="getHeight(info)" ng-model="info.KneeLen" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control list" ng-model="info.ThisRecDate" />
                                        </td>
                                        <td>
                                            <input type="checkbox" class="uniform" value="T" ng-model="info.UnPlanFlag">非计划
                                        </td>
                                        <td>
                                            <input-staff callback="staffSelected(item,info)" ng-model="info.RecordBy" value="{{info.RecordBy}}" placeholder="输入编号,姓名" required=true />
                                        </td>
                                       
                                        <td>
                                            <input type="checkbox" class="uniform" value="T" ng-model="info.CheckType">是
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                                <a class="btn btn-info" role="button" ui-sref="UnPlanWeightHistory({id:info.FeeNo,regNo:info.RegNo})"><i class="fa fa-table"></i>  查看记录</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <!--</ui-data-table>-->
                            <div id="pager"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="saveUnPlanWeight()">保存</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#editTable").on('change', function () {
        var ele = angular.element(event.srcElement).closest('tr');
        var scope = ele.scope();
        scope.info.CheckType = true;
    })
</script>

