<style type="text/css">
     button {
            width: 70px;
        }
</style>
<div class="row">
    <div id="content" class="col-md-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <!-- BREADCRUMBS -->
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">首页</a>
                        </li>
                        <li><a ui-sref="CarePlanDetail({regNo:Data.RegNo,feeNo:Data.feeNo,regName:Data.RegName})">照护计划列表</a></li>
                        <li>照护计划明细 - 当前住民：{{Data.RegName}}</li>
                    </ul>
                    <!-- /BREADCRUMBS -->
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>
