@{
    Layout = null;  
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>长期护理险管理系统 | 主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="../../Content/CloudAdmin/css/cloud-admin.css">
    <link rel="stylesheet" type="text/css" href="../../Content/CloudAdmin/css/themes/default.css" id="skin-switcher">
    <link rel="stylesheet" type="text/css" href="../../Content/CloudAdmin/css/responsive.css">

    <link href="../Content/CloudAdmin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="../../Content/CloudAdmin/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href="../../Content/CloudAdmin/js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" />
    <!-- BOOTSTRAP SWITCH -->
    <link rel="stylesheet" type="text/css" href="../../Content/CloudAdmin/js/bootstrap-switch/bootstrap-switch.min.css" />
    <!-- FLAGS -->
    <link rel="stylesheet" type="text/css" href="../../Content/CloudAdmin/css/flags/flags.min.css" />
    <!-- MainForm -->
    <link rel="stylesheet" type="text/css" href="../../Content/MainForm/mainform.css" />
    <link href="~/Content/NavigationForm/navigation.css" rel="stylesheet" />
</head>
<body class="navigationbody">
    <div>
        <input type="hidden" id="LC" value="@ViewBag.IsLC" />
        <input type="hidden" id="DC" value="@ViewBag.IsDC" />
        <input type="hidden" id="ADMIN" value="@ViewBag.IsADMIN" />
    </div>
    <!-- PAGE -->
    <!-- BOX-->
    <div class="navigationBox">
        <!-- ROW1 ui-sref="Ipdregout" -->
        <div class="btn-toolbar box-body center ">
            <div class="btn navigationDiv">
                <div class="hover div_LC">
                    <a href="/Home/Index" class="fv"><img src="../../Images/SLTC.png" alt="" /><br><label class="mainlabel">智慧长照机构</label></a>
                    <a class="hv" href="/Home/Index"><img src="../../Images/CSLTC.png" alt="" /><br><label class="mainlabel">智慧长照机构</label></a>
                </div>
            </div>
            <div class="btn navigationDiv">
                <div class="hover div_DC">

                </div>
             </div>
            <div class="btn navigationDiv ">
                <div class="hover div_HC">
                    <a href="/Home/DCIndex" class="fv"><img src="../../Images/DTC.png" alt="" /><br><label class="mainlabel">日间照护</label></a>
                    <a href="/Home/DCIndex" class="hv"><img src="../../Images/CDTC.png" alt="" /><br><label class="mainlabel">日间照护</label></a>
                    @*<a href="/Home/MainForm" class="fv"><img src="../../Images/HC.png" alt="" /><br><label class="mainlabel">居家照护</label></a>
                    <a href="/Home/MainForm" class="hv"><img src="../../Images/CHC.png" alt="" /><br><label class="mainlabel">居家照护</label></a>*@
                </div>
            </div>
        </div>
        <!-- /ROW1 -->
        <!-- ROW2 -->
   
     
        @*<div>
                <a ><span class="sub-menu-text">仪表盘</span></a>
            </div>*@
        <!-- /ROW3 -->

    </div><!-- /BOX -->
    <!--/PAGE -->
    <!-- JAVASCRIPTS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQUERY -->
    <script src="../../Content/CloudAdmin/js/jquery/jquery-2.0.3.min.js"></script>
    <!-- JQUERY UI-->
    <script src="../../Content/CloudAdmin/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="../../Content/CloudAdmin/bootstrap-dist/js/bootstrap.min.js"></script>
    <!-- DATE RANGE PICKER -->
    <script src="../../Content/CloudAdmin/js/bootstrap-daterangepicker/moment.min.js"></script>

    <script src="../../Content/CloudAdmin/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <!-- SLIMSCROLL -->
    <script type="text/javascript" src="../../Content/CloudAdmin/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="../../Content/CloudAdmin/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
    <!-- BLOCK UI -->
    <script type="text/javascript" src="../../Content/CloudAdmin/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
    <!-- ONHOVER -->
    <script type="text/javascript" src="../../Content/CloudAdmin/js/bootstrap-onhover/twitter-bootstrap-hover-dropdown.min.js"></script>
    <!-- BOOTSTRAP SWITCH -->
    <script type="text/javascript" src="../../Content/CloudAdmin/js/bootstrap-switch/bootstrap-switch.min.js"></script>
    <!-- COOKIE -->
    <script type="text/javascript" src="../../Content/CloudAdmin/js/jQuery-Cookie/jquery.cookie.min.js"></script>
    <!-- CUSTOM SCRIPT -->
    <script src="../../Content/CloudAdmin/js/script.js"></script>

    <script type="text/javascript">
        $(function () {
            if ($('#ADMIN').val() != 'true') {
                if ($('#LC').val() != 'true') {
                    $('.div_LC').hide();
                }if ($('#DC').val() != 'true') {
                    $('.div_DC').hide();
                }
            }
            $('.hover').hover(
               function() {
                   $(this).find('.fv').hide();
                   $(this).find('.hv').show();
               },
               function () {
                   //  $('.hv').fadeOut('slow');
                   $(this).find('.hv').hide();
                   $(this).find('.fv').show();
                   //  $('.hv').stop().fadeTo('slow', 0);
               }
             )
        })

    </script>
    <!-- /JAVASCRIPTS -->
</body>
</html>


