<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <typeAliases>
    <!-- Services -->
    <typeAlias alias="IUnitOfWork" type="KMHC.SLTC.Repository.Base.IUnitOfWork, KMHC.SLTC.Repository" />
    <typeAlias alias="UnitOfWork" type="KMHC.SLTC.Repository.Base.UnitOfWork, KMHC.SLTC.Repository" />
    <typeAlias alias="IAuthenticationService" type="KMHC.Infrastructure.Security.IAuthenticationService, KMHC.Infrastructure" />
    <typeAlias alias="FormsAuthenticationService" type="KMHC.Infrastructure.Security.Providers.FormsAuthenticationService, KMHC.Infrastructure" />
    <typeAlias alias="IDictManageService" type="KMHC.SLTC.Business.Interface.IDictManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DictManageService" type="KMHC.SLTC.Business.Implement.DictManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IInventoryManageService" type="KMHC.SLTC.Business.Interface.IInventoryManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="InventoryManageService" type="KMHC.SLTC.Business.Implement.InventoryManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IIndexManageService" type="KMHC.SLTC.Business.Interface.IIndexManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="IndexManageService" type="KMHC.SLTC.Business.Implement.IndexManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="INursingWorkstationService" type="KMHC.SLTC.Business.Interface.INursingWorkstationService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="NursingWorkstationService" type="KMHC.SLTC.Business.Implement.NursingWorkstationService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IOrganizationManageService" type="KMHC.SLTC.Business.Interface.IOrganizationManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="OrganizationManageService" type="KMHC.SLTC.Business.Implement.OrganizationManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IResidentManageService" type="KMHC.SLTC.Business.Interface.IResidentManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ResidentManageService" type="KMHC.SLTC.Business.Implement.ResidentManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="INursingManageService" type="KMHC.SLTC.Business.Interface.INursingManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="NursingManageService" type="KMHC.SLTC.Business.Implement.NursingManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="ICostManageService" type="KMHC.SLTC.Business.Interface.ICostManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="CostManageService" type="KMHC.SLTC.Business.Implement.CostManageService, KMHC.SLTC.Business.Implement" />

    <!--缴费管理 Bob wu 20170110-->
    <typeAlias alias="ISettleAccountService" type="KMHC.SLTC.Business.Interface.ISettleAccountService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="SettleAccountService" type="KMHC.SLTC.Business.Implement.SettleAccountService, KMHC.SLTC.Business.Implement" />
    
    <typeAlias alias="IPaymentMgmtService" type="KMHC.SLTC.Business.Interface.IPaymentMgmtService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="PaymentMgmtService" type="KMHC.SLTC.Business.Implement.PaymentMgmtService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IRsChargeGroupService" type="KMHC.SLTC.Business.Interface.IRsChargeGroupService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="RsChargeGroupService" type="KMHC.SLTC.Business.Implement.RsChargeGroupService, KMHC.SLTC.Business.Implement" />


    <typeAlias alias="IPaymentRecService" type="KMHC.SLTC.Business.Interface.IPaymentRecService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="PaymentRecService" type="KMHC.SLTC.Business.Implement.PaymentRecService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IAdvanceChargeService" type="KMHC.SLTC.Business.Interface.IAdvanceChargeService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="AdvanceChargeService" type="KMHC.SLTC.Business.Implement.AdvanceChargeService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IResidentBalanceService" type="KMHC.SLTC.Business.Interface.IResidentBalanceService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ResidentBalanceService" type="KMHC.SLTC.Business.Implement.ResidentBalanceService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IBillV2PayService" type="KMHC.SLTC.Business.Interface.IBillV2PayService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="BillV2PayService" type="KMHC.SLTC.Business.Implement.BillV2PayService, KMHC.SLTC.Business.Implement" />

    <typeAlias alias="IRefundMgmtService" type="KMHC.SLTC.Business.Interface.IRefundMgmtService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="RefundMgmtService" type="KMHC.SLTC.Business.Implement.RefundMgmtService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IRefundRecService" type="KMHC.SLTC.Business.Interface.IRefundRecService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="RefundRecService" type="KMHC.SLTC.Business.Implement.RefundRecService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IAdvanceChargeRefundService" type="KMHC.SLTC.Business.Interface.IAdvanceChargeRefundService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="AdvanceChargeRefundService" type="KMHC.SLTC.Business.Implement.AdvanceChargeRefundService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IRefundService" type="KMHC.SLTC.Business.Interface.IRefundService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="RefundService" type="KMHC.SLTC.Business.Implement.RefundService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IResidentBalanceRefundService" type="KMHC.SLTC.Business.Interface.IResidentBalanceRefundService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ResidentBalanceRefundService" type="KMHC.SLTC.Business.Implement.ResidentBalanceRefundService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IRefundService" type="KMHC.SLTC.Business.Interface.IRefundService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="RefundService" type="KMHC.SLTC.Business.Implement.RefundService, KMHC.SLTC.Business.Implement" />

    <typeAlias alias="IDC_SysAdminService" type="KMHC.SLTC.Business.Interface.IDC_SysAdminService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_SysAdminService" type="KMHC.SLTC.Business.Implement.DC_SysAdminService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IPackageRelatedService" type="KMHC.SLTC.Business.Interface.IPackageRelatedService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="PackageRelatedService" type="KMHC.SLTC.Business.Implement.PackageRelatedService, KMHC.SLTC.Business.Implement" />

    <typeAlias alias="IDrugRecordService" type="KMHC.SLTC.Business.Interface.IDrugRecordService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DrugRecordService" type="KMHC.SLTC.Business.Implement.DrugRecordService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IMaterialRecordService" type="KMHC.SLTC.Business.Interface.IMaterialRecordService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="MaterialRecordService" type="KMHC.SLTC.Business.Implement.MaterialRecordService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IServiceRecordService" type="KMHC.SLTC.Business.Interface.IServiceRecordService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ServiceRecordService" type="KMHC.SLTC.Business.Implement.ServiceRecordService, KMHC.SLTC.Business.Implement" />
    <!--<typeAlias alias="ISubsidyRecManageService" type="KMHC.SLTC.Business.Interface.SocialWorkerManage.ISubsidyRecManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="SubsidyRecManageService" type="KMHC.SLTC.Business.Implement.SocialWorkerManage.SubsidyRecManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IResourceLinkService" type="KMHC.SLTC.Business.Interface.SocialWorkerManage.IResourceLinkService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ResourceLinkService" type="KMHC.SLTC.Business.Implement.SocialWorkerManage.ResourceLinkService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IFallService" type="KMHC.SLTC.Business.Interface.KPI.IFallService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="FallService" type="KMHC.SLTC.Business.Implement.KPI.FallService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="ILifeRecordService" type="KMHC.SLTC.Business.Interface.SocialWorkerManage.ILifeRecordService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="LifeRecordService" type="KMHC.SLTC.Business.Implement.SocialWorkerManage.LifeRecordService, KMHC.SLTC.Business.Implement" />-->
    <typeAlias alias="ICarePlansManageService" type="KMHC.SLTC.Business.Interface.ICarePlansManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="CarePlansManageService" type="KMHC.SLTC.Business.Implement.CarePlansManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IGoodsManageService" type="KMHC.SLTC.Business.Interface.IGoodsManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="GoodsManageService" type="KMHC.SLTC.Business.Implement.GoodsManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="ISocialWorkerManageService" type="KMHC.SLTC.Business.Interface.ISocialWorkerManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="SocialWorkerManageService" type="KMHC.SLTC.Business.Implement.SocialWorkerManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IVisitManageService" type="KMHC.SLTC.Business.Interface.IVisitManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="VisitManageService" type="KMHC.SLTC.Business.Implement.VisitManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IOwnDrugRecService" type="KMHC.SLTC.Business.Interface.IOwnDrugRecService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="OwnDrugRecService" type="KMHC.SLTC.Business.Implement.OwnDrugRecService, KMHC.SLTC.Business.Implement" />

    <!--日照部分 杨金高-->
    <typeAlias alias="IDC_SocialWorkerService" type="KMHC.SLTC.Business.Interface.IDC_SocialWorkerService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_SocialWorkerService" type="KMHC.SLTC.Business.Implement.DC_SocialWorkerService, KMHC.SLTC.Business.Implement" />

    <!--姚丙慧 2016/3/18-->

    <typeAlias alias="INursingRecord" type="KMHC.SLTC.Business.Interface.INursingRecord, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="NursingRecord" type="KMHC.SLTC.Business.Implement.NursingRecord, KMHC.SLTC.Business.Implement" />

    <typeAlias alias="IDC_CrossDayLife" type="KMHC.SLTC.Business.Interface.DC.IDC_CrossDayLife, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_CrossDayLife" type="KMHC.SLTC.Business.Implement.DC.DC_CrossDayLife, KMHC.SLTC.Business.Implement" />

    <!--姚丙慧 2016/3/24-->

    <!--<typeAlias alias="ReferralListController" type="KMHC.SLTC.Business.Interface.ReferralListController, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="IReferralListController" type="KMHC.SLTC.Business.Implement.IReferralListController, KMHC.SLTC.Business.Implement" />-->
    <typeAlias alias="IReportManageService" type="KMHC.SLTC.Business.Interface.IReportManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ReportManageService" type="KMHC.SLTC.Business.Implement.ReportManageService, KMHC.SLTC.Business.Implement" />

    <typeAlias alias="IDC_ResidentManageService" type="KMHC.SLTC.Business.Interface.DC.IDC_ResidentManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_ResidentManageService" type="KMHC.SLTC.Business.Implement.DC.DC_ResidentManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="ICommfileService" type="KMHC.SLTC.Business.Interface.DC.ICommfileService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="CommfileService" type="KMHC.SLTC.Business.Implement.DC.CommfileService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDC_AssignJobsService" type="KMHC.SLTC.Business.Interface.DC.IDC_AssignJobsService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_AssignJobsService" type="KMHC.SLTC.Business.Implement.DC.DC_AssignJobsService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDC_ChartsService" type="KMHC.SLTC.Business.Interface.DC.IDC_ChartsService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_ChartsService" type="KMHC.SLTC.Business.Implement.DC.DC_ChartsService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDC_SocialReportService" type="KMHC.SLTC.Business.Interface.DC.Report.IDC_SocialReportService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_SocialReportService" type="KMHC.SLTC.Business.Implement.DC.Report.DC_SocialReportService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDC_SocialReportService" type="KMHC.SLTC.Business.Interface.DC.Report.IDC_SocialReportService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_SocialReportService" type="KMHC.SLTC.Business.Implement.DC.Report.DC_SocialReportService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDC_NursingReportService" type="KMHC.SLTC.Business.Interface.DC.Report.IDC_NursingReportService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_NursingReportService" type="KMHC.SLTC.Business.Implement.DC.Report.DC_NursingReportService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDC_CrossReportService" type="KMHC.SLTC.Business.Interface.DC.Report.IDC_CrossReportService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_CrossReportService" type="KMHC.SLTC.Business.Implement.DC.Report.DC_CrossReportService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDC_FamilyDoctorService" type="KMHC.SLTC.Business.Interface.DC.IDC_FamilyDoctorService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_FamilyDoctorService" type="KMHC.SLTC.Business.Implement.DC.DC_FamilyDoctorService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDC_TransdisciplinaryPlan" type="KMHC.SLTC.Business.Interface.DC.IDC_TransdisciplinaryPlan, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DC_TransdisciplinaryPlan" type="KMHC.SLTC.Business.Implement.DC.DC_TransdisciplinaryPlan, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IMyDeskService" type="KMHC.SLTC.Business.Interface.IMyDeskService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="myDeskService" type="KMHC.SLTC.Business.Implement.myDeskService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="ITsgService" type="KMHC.SLTC.Business.Interface.ITsgService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="TsgService" type="KMHC.SLTC.Business.Implement.TsgService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IEvalReportService" type="KMHC.SLTC.Business.Interface.IEvalReportService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="EvalReportService" type="KMHC.SLTC.Business.Implement.EvalReportService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IBillV2Service" type="KMHC.SLTC.Business.Interface.IBillV2Service, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="BillV2Service" type="KMHC.SLTC.Business.Implement.BillV2Service, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IIpdOrderService" type="KMHC.SLTC.Business.Interface.IIpdOrderService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="IpdOrderService" type="KMHC.SLTC.Business.Implement.IpdOrderService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IFeeRecordService" type="KMHC.SLTC.Business.Interface.IFeeRecordService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="FeeRecordService" type="KMHC.SLTC.Business.Implement.FeeRecordService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="INSDrugManageService" type="KMHC.SLTC.Business.Interface.INSDrugManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="NSDrugManageService" type="KMHC.SLTC.Business.Implement.NSDrugManageService, KMHC.SLTC.Business.Implement" />

    <typeAlias alias="INSMedicalMaterialManageService" type="KMHC.SLTC.Business.Interface.INSMedicalMaterialManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="NSMedicalMaterialManageService" type="KMHC.SLTC.Business.Implement.NSMedicalMaterialManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="INSServiceManageService" type="KMHC.SLTC.Business.Interface.INSServiceManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="NSServiceManageService" type="KMHC.SLTC.Business.Implement.NSServiceManageService, KMHC.SLTC.Business.Implement" />

    <typeAlias alias="ICarePlanReportService" type="KMHC.SLTC.Business.Interface.ICarePlanReportService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="CarePlanReportService" type="KMHC.SLTC.Business.Implement.CarePlanReportService, KMHC.SLTC.Business.Implement" />

    <typeAlias alias="ICostService" type="KMHC.SLTC.Business.Interface.ICostService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="CostService" type="KMHC.SLTC.Business.Implement.CostService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="INCIDrugService" type="KMHC.SLTC.Business.Interface.INCIDrugService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="NCIDrugService" type="KMHC.SLTC.Business.Implement.NCIDrugService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="INCIMedicalMaterialService" type="KMHC.SLTC.Business.Interface.INCIMedicalMaterialService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="NCIMedicalMaterialService" type="KMHC.SLTC.Business.Implement.NCIMedicalMaterialService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="INCIServiceService" type="KMHC.SLTC.Business.Interface.INCIServiceService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="NCIServiceService" type="KMHC.SLTC.Business.Implement.NCIServiceService, KMHC.SLTC.Business.Implement" />

    <typeAlias alias="IServiceDepositGrantList" type="KMHC.SLTC.Business.Interface.IServiceDepositGrantList, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ServiceDepositGrantListService" type="KMHC.SLTC.Business.Implement.ServiceDepositGrantListService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IReceptionManagementService" type="KMHC.SLTC.Business.Interface.IReceptionManagementService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ReceptionManagementService" type="KMHC.SLTC.Business.Implement.ReceptionManagementService, KMHC.SLTC.Business.Implement" />
    <!--健康档案-->
    <typeAlias alias="IHealthRecordsService" type="KMHC.SLTC.Business.Interface.IHealthRecordsService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="HealthRecordsService" type="KMHC.SLTC.Business.Implement.HealthRecordsService, KMHC.SLTC.Business.Implement" />
    <!--首次入住记录-->
    <typeAlias alias="IFstRegRecService" type="KMHC.SLTC.Business.Interface.IFstRegRecService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="FstRegRecService" type="KMHC.SLTC.Business.Implement.FstRegRecService, KMHC.SLTC.Business.Implement" />
    <!--交班记录-->
    <typeAlias alias="IHandoverService" type="KMHC.SLTC.Business.Interface.IHandoverService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="HandoverService" type="KMHC.SLTC.Business.Implement.HandoverService, KMHC.SLTC.Business.Implement" />
    <!--来宾出入记录-->
    <typeAlias alias="IVisitorInOutRecService" type="KMHC.SLTC.Business.Interface.IVisitorInOutRecService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="VisitorInOutRecService" type="KMHC.SLTC.Business.Implement.VisitorInOutRecService, KMHC.SLTC.Business.Implement" />
    <!--住民生日查询-->
    <typeAlias alias="IResBirthDayListService" type="KMHC.SLTC.Business.Interface.IResBirthDayListService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ResBirthDayListService" type="KMHC.SLTC.Business.Implement.ResBirthDayListService, KMHC.SLTC.Business.Implement" />

    <!--长期护理保险评价-->
    <typeAlias alias="INursingCareEvalService" type="KMHC.SLTC.Business.Interface.INursingCareEvalService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="NursingCareEvalService" type="KMHC.SLTC.Business.Implement.NursingCareEvalService, KMHC.SLTC.Business.Implement" />

    <typeAlias alias="IDeductionService" type="KMHC.SLTC.Business.Interface.IDeductionService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DeductionService" type="KMHC.SLTC.Business.Implement.DeductionService, KMHC.SLTC.Business.Implement" />

    <typeAlias alias="IRegNCIInfoService" type="KMHC.SLTC.Business.Interface.IRegNCIInfoService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="RegNCIInfoService" type="KMHC.SLTC.Business.Implement.RegNCIInfoService, KMHC.SLTC.Business.Implement" />

    <!--人员状态查询报表数据-->
    <typeAlias alias="IPersonStatusReportService" type="KMHC.SLTC.Business.Interface.IPersonStatusReportService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="PersonStatusReportService" type="KMHC.SLTC.Business.Implement.PersonStatusReportService, KMHC.SLTC.Business.Implement" />
  </typeAliases>
  <container>
    <extension type="Interception" />
    <register type="IUnitOfWork" mapTo="UnitOfWork" />
    <register type="IAuthenticationService" mapTo="FormsAuthenticationService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IDictManageService" mapTo="DictManageService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.CachingBehavior, KMHC.SLTC.Business.Interceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IInventoryManageService" mapTo="InventoryManageService">
      <!--<interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>-->
    </register>
    <register type="IIndexManageService" mapTo="IndexManageService" />
    <register type="INursingWorkstationService" mapTo="NursingWorkstationService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IOrganizationManageService" mapTo="OrganizationManageService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IResidentManageService" mapTo="ResidentManageService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>




    <register type="INursingManageService" mapTo="NursingManageService" />
    <register type="ICostManageService" mapTo="CostManageService" />
    <!--<register type="ISubsidyRecManageService" mapTo="SubsidyRecManageService" />
    <register type="IResourceLinkService" mapTo="ResourceLinkService" />
    <register type="IFallService" mapTo="FallService" />
    <register type="ILifeRecordService" mapTo="LifeRecordService" />-->
    <register type="ICarePlansManageService" mapTo="CarePlansManageService" />
    <register type="IGoodsManageService" mapTo="GoodsManageService" />
    <register type="ISocialWorkerManageService" mapTo="SocialWorkerManageService" />
    <!--杨金高社工日照服务-->
    <register type="IDC_SocialWorkerService" mapTo="DC_SocialWorkerService" />


    <!--姚丙慧 2016/3/18-->

    <register type="INursingRecord" mapTo="NursingRecord" />

    <!--<register type="IReferralListController" mapTo="ReferralListController" />-->

    <register type="IDC_CrossDayLife" mapTo="DC_CrossDayLife" />
    <register type="IDC_SysAdminService" mapTo="DC_SysAdminService" />
    <register type="IVisitManageService" mapTo="VisitManageService" />
    <register type="IOwnDrugRecService" mapTo="OwnDrugRecService" />
    <register type="IReportManageService" mapTo="ReportManageService" />
    <register type="IDC_ResidentManageService" mapTo="DC_ResidentManageService" />
    <register type="ICommfileService" mapTo="CommfileService" />
    <register type="IDC_AssignJobsService" mapTo="DC_AssignJobsService" />
    <register type="IDC_ChartsService" mapTo="DC_ChartsService" />
    <register type="IDC_SocialReportService" mapTo="DC_SocialReportService" />
    <register type="IDC_NursingReportService" mapTo="DC_NursingReportService" />
    <register type="IDC_CrossReportService" mapTo="DC_CrossReportService" />
    <register type="IDC_FamilyDoctorService" mapTo="DC_FamilyDoctorService" />
    <register type="IDC_TransdisciplinaryPlan" mapTo="DC_TransdisciplinaryPlan" />
    <register type="IMyDeskService" mapTo="myDeskService" />
    <register type="ITsgService" mapTo="TsgService" />
    <register type="IEvalReportService" mapTo="EvalReportService" />
    <register type="ICarePlanReportService" mapTo="CarePlanReportService" />
    <register type="ISettleAccountService" mapTo="SettleAccountService" />
    <register type="IPaymentMgmtService" mapTo="PaymentMgmtService" />
    <register type="IRsChargeGroupService" mapTo="RsChargeGroupService" />
    <register type="IPaymentRecService" mapTo="PaymentRecService" />
    <register type="IAdvanceChargeService" mapTo="AdvanceChargeService" />
    <register type="IResidentBalanceService" mapTo="ResidentBalanceService" />
    <register type="IBillV2PayService" mapTo="BillV2PayService" />
    <register type="IRefundMgmtService" mapTo="RefundMgmtService" />
    <register type="IRefundRecService" mapTo="RefundRecService" />
    <register type="IAdvanceChargeRefundService" mapTo="AdvanceChargeRefundService" />
    <register type="IResidentBalanceRefundService" mapTo="ResidentBalanceRefundService" />
    <register type="IRefundService" mapTo="RefundService" />
    <register type="IServiceDepositGrantList" mapTo="ServiceDepositGrantListService"/>
    <register type="IBillV2Service" mapTo="BillV2Service" />
    <register type="IIpdOrderService" mapTo="IpdOrderService" />
    <register type="IFeeRecordService" mapTo="FeeRecordService" />
    <register type="IPackageRelatedService" mapTo="PackageRelatedService" />
    <register type="IDrugRecordService" mapTo="DrugRecordService" />
    <register type="IMaterialRecordService" mapTo="MaterialRecordService" />
    <register type="IServiceRecordService" mapTo="ServiceRecordService" />
    <register type="ICostService" mapTo="CostService" />
    <register type="INSDrugManageService" mapTo="NSDrugManageService" />
    <register type="INCIDrugService" mapTo="NCIDrugService" />
    <register type="INSMedicalMaterialManageService" mapTo="NSMedicalMaterialManageService" />
    <register type="INCIMedicalMaterialService" mapTo="NCIMedicalMaterialService" />
    <register type="INSServiceManageService" mapTo="NSServiceManageService" />
    <register type="INCIServiceService" mapTo="NCIServiceService" />
    <register type="IReceptionManagementService" mapTo="ReceptionManagementService" />
    <register type="IHealthRecordsService" mapTo="HealthRecordsService" />
    <register type="IFstRegRecService" mapTo="FstRegRecService" />
    <!--交班记录-->
    <register type="IHandoverService" mapTo="HandoverService" />
    <!--来宾出入记录-->
    <register type="IVisitorInOutRecService" mapTo="VisitorInOutRecService" />
    <!--住民生日查询-->
    <register type="IResBirthDayListService" mapTo="ResBirthDayListService" />
    <!-- 长期护理保险评价-->
    <register type="INursingCareEvalService" mapTo="NursingCareEvalService" />
    
    <register type="IRegNCIInfoService" mapTo="RegNCIInfoService" />
    <register type="IDeductionService" mapTo="DeductionService" />
    <!-- 人员状态查询-->
    <register type="IPersonStatusReportService" mapTo="PersonStatusReportService" />
  </container>
</unity>
