
<link rel="stylesheet" type="text/css" href="/Content/OrgMgr/bed.css" />
<div class="row">
    <div id="content" class="col-lg-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">首页</a>
                        </li>
                        <li>床位总览</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <!--楼层房间  -->
            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="box border primary">
                        <div class="box-title">
                            <h4><i class="fa fa-search"></i>查询条件</h4>
                        </div>
                        <div class="box-body">
                            <form class="form-horizontal" role="form" novalidate>
                                <div class="form-group">
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">楼层:</label>
                                    </div>
                                    <div class="btn-group col-md-8" role="group">
                                        <button type="button" class="btn btn-default floorBtn" ng-click="selectFloor('')">全部</button>
                                        <button type="button" class="btn btn-default floorBtn" ng-click="selectFloor(floor.FloorId)" ng-repeat="floor in floors">{{floor.FloorName}}</button>
                                    </div>
                                </div>
                                <p></p>
                                <div class="form-group">
                                    <!--<div class="col-md-1 text-right">
                                        <label class="control-label">性别:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" ng-model="filter.sex" select-code="A00.001" ng-change="query()"></select>
                                    </div>-->
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">空床数大于:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" ng-model="filter.emptyBedNum" ng-change="query()">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="box border primary">
                        <div class="box-title">
                            <h4><i class="fa fa-table"></i>房间信息</h4>
                            <div class="tools">
                                <a href="javascript:;" class="reload" ca-reload ng-click="query()">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-body clear-fix">
                            <div class="row row-noMargin">
                                <ui-data-table options="options">
                                    <div class="roomCanvas" ng-click="selectRoom(room)" ng-repeat="room in rooms">
                                        <div class="content">
                                            <div class="roomNo">{{room.RoomName}}</div>
                                            <div>
                                                <bed-status status="{{bed.BedStatus}}" ng-repeat="bed in room.Bedes"></bed-status>
                                            </div>
                                        </div>
                                    </div>
                                </ui-data-table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--<div class="box border primary">
                        <div class="box-title">
                            <h4><i class="fa fa-building"></i>责任护工</h4>
                        </div>
                        <div class="staffCanvas">
                            <div class="content">
                                <div class="row row-noMargin">
                                    <div class="photo col-md-4">
                                        <img src="../../Images/defaultavatar.png" />
                                    </div>
                                    <div class="col-md-3">
                                        <div class="name">王护士</div>
                                        <div class="phone">18915425624</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="box border primary">
                        <div class="box-title">
                            <h4><i class="fa fa-building"></i>住民列表 {{selectedRoom.RoomName || ""}}</h4>
                        </div>
                        <div>
                            <div class="bedCanvas" ng-repeat="bed in selectedRoom.Bedes">
                                <div class="content">
                                    <div class="bedNo">床号: {{bed.BedNo || ""}}</div>
                                    <div class="row row-noMargin">
                                        <div class="col-md-4">
                                            <img class="photo" ng-src="{{bed.PhotoPath | personPhotoFormat}}" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="name">{{bed.ResidentName || "空床"}}<span ng-show="bed.BedStatus=='Subscribe'">(已预定)</span></div>
                                            <div class="info">
                                                <div>
                                                    <span select-code="A00.001" select-value="{{bed.Sex}}"></span> {{bed.BirthDate | ageFormat}}
                                                </div>
                                                <!--<div class="careLevel">一级护理 120元/天</div>-->
                                                <div>{{bed.InDete? "入住日期: " : ""}}{{bed.InDete | dateFormat}}</div>
                                                <div>{{bed.PrimayNurse | primaryNurseFormat}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="operation" ng-show="bed.ResidentName!=null">
                                        <a class="btn btn-primary" ng-click="changeBed(bed)">更换床位</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>