<div class="row">
    <div class="row">
        <div id="content" class="col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="/">首页</a>
                            </li>
                            <li>
                                <a ui-sref="FloorList">楼层管理</a>
                            </li>
                            <li>楼层信息</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box border primary">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i>楼层信息</h4>
                        </div>
                        <div class="box-body">
                            <!--<h3 class="form-title">详细信息</h3>-->
                            <form class="form-horizontal" role="form" name="form1" ng-submit="submit()" novalidate>
                                <!--<div class="form-group">
                                    <label class="col-sm-3 control-label">编号<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <input name="FloorId" class="form-control" ng-model="Data.floor.FloorId" ng-readonly="!isAdd" unique-type="FloorId" unique-key="FloorId" unique required />
                                    </div>
                                </div>-->
                                <!--<div class="form-group">
                                    <label class="col-sm-3 control-label">机构<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <select name="floorCode" class="col-sm-12 form-control" ng-model="Data.floor.OrgId" ng-options="t.OrgId as t.OrgName for t in Data.orgs" required></select>
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">楼层<span class="required">*</span></label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" rows="3" ng-model="Data.floor.FloorName" ng-maxlength="20" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group center">
                                    <input type="submit" class="btn btn-info" ng-disabled="form1.$invalid" value="保存" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
