<div class="row">
    <div id="content" class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="#">首页</a>
                        </li>
                        <li>服务保证金发放记录</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box border primary">
                    <div class="box-title">
                        <h4><i class="fa fa-table"></i>保证金列表</h4>
                    </div>
                    <div class="box-body">
                        <div class="box-center">
                            <ui-data-table options="options">
                                <table id="datatable1" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center">序号</th>
                                            <th class="center">年份</th>
                                            <th class="center">月份</th>
                                            <th class="center">应拨金额</th>
                                            <th class="center">扣款金额</th>
                                            <th class="center">实拨金额</th>
                                            <th class="center">扣款原因</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sdg in Data.ServiceDepositGrantList">
                                            <td class="center">{{$index + 1}}</td>
                                            <td class="center">{{sdg.Year}}</td>
                                            <td class="center">{{sdg.Months}}</td>
                                            <td class="center">{{sdg.DueOfPay}}</td>
                                            <td class="center">{{sdg.Decut}}</td>
                                            <td class="center">{{sdg.ActrualPay}}</td>
                                            <td class="center">{{sdg.DecutReason}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ui-data-table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>