<div class="row">
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="saveEvaluate()" novalidate>
                    <div class="form-group">

                        <label class="col-md-1 control-label">评估人员</label>
                        <div class="col-md-2">
                            <select class="form-control" id="selEvaluator" ng-model="Data.psychologyPerson.EvaluateBy" ng-options="t.value as t.text for t in Data.Evaluators"></select>
                        </div>
                        <label class="col-md-1 control-label">评估日期</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control datepicker" id="dtEvalDate" ng-model="Data.psychologyPerson.EvalDate">
                        </div>
                        <label class="col-md-1 control-label">下次评估日期</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control datepicker" id="dtNextEvalDate" ng-model="Data.psychologyPerson.NextEvalDate">
                        </div>
                        <label class="col-md-1 control-label">下次受托者</label>
                        <div class="col-md-2">
                            <select class="form-control" id="selNextEvaluator" ng-model="Data.psychologyPerson.NextEvaluateBy" ng-options="t.value as t.text for t in Data.Evaluators"></select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">社会资源评估</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="saveEvaluate()">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">人际关系</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="5" ng-model="Data.psychologyPerson.SocialRelationship"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">社区支持系统</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="5" ng-model="Data.psychologyPerson.SocialSupport"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">正式资源</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="5" ng-model="Data.psychologyPerson.SocialFormalResource"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <button class="form-control btn btn-primary">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

