
<div class="row">
    <div id="content" class="col-md-12">
        <!-- PAGE HEADER-->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <!-- STYLER -->
                    <!-- /STYLER -->
                    <!-- BREADCRUMBS -->
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">首页</a>
                        </li>
                        <li>社工评估</li>
                    </ul>
                    <!-- /BREADCRUMBS -->
                    <!--
                    <div class="description">
                        <h5 class="content-title pull-left">社工入住与定期评估列表</h5>
                    </div>-->
                </div>
            </div>
        </div>
        <!-- /PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-2">
                    <div class="box border primary">
                        <div class="box-title">
                            <h4>
                                <i class="fa fa-bars"></i>住民信息
                            </h4>
                        </div>
                        <div class="box-body">
                            <resident-card feeno={{FeeNo}} callback="residentSelected(resident)" />
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border primary">
                            <div class="box-title">
                                <h4><i class="fa fa-columns"></i>社工评估管理</h4>
                            </div>
                            <div class="box-body">
                                <div class="tabbable header-tabs">
                                    <ul class="nav nav-tabs">
                                        <li><a href="#box_tab6" ng-show="buttonShow" ng-click="openHistory()" data-toggle="tab"><i class="fa fa-laptop"></i> <span class="hidden-inline-mobile">历史记录</span></a></li>
                                        <li><a href="#box_tab5" data-toggle="tab"><i class="fa fa-laptop"></i> <span class="hidden-inline-mobile">计划修订</span></a></li>
                                        <li><a href="#box_tab4" data-toggle="tab"><i class="fa fa-laptop"></i> <span class="hidden-inline-mobile">问题与处遇</span></a></li>
                                        <li><a href="#box_tab3" data-toggle="tab"><i class="fa fa-laptop"></i> <span class="hidden-inline-mobile">社会资源评估</span></a></li>
                                        <li><a href="#box_tab2" data-toggle="tab"><i class="fa fa-calendar-o"></i> <span class="hidden-inline-mobile">家庭评估</span></a></li>
                                        <li class="active"><a href="#box_tab1" data-toggle="tab"><i class="fa fa-circle-o"></i> <span class="hidden-inline-mobile">身心社会评估</span></a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade" id="box_tab6">
                                            <div class="box border primary">
                                                <div class="box-title">
                                                    <h4>历次记录</h4>
                                                </div>
                                                <div class="box-body">
                                                    <ui-data-table options="options">
                                                        <table id="datatable1" class="table table-striped table-bordered table-hover table-handler">
                                                            <thead>
                                                                <tr>
                                                                    <th>评估日期</th>
                                                                    <th>评估人员</th>
                                                                    <th>主要问题</th>
                                                                    <th>家庭问题</th>
                                                                    <th>社会资源评估</th>
                                                                    <th>处遇计划</th>
                                                                    <th><i class="fa fa-bars"></i> 操作</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="person in Data.regEvaluates" on-finish-repeat-render ng-click="rowSelect(person)" style="cursor:pointer">
                                                                    <td>{{person.EvalDate |date:'yyyy-MM-dd'}}</td>
                                                                    <td>{{person.EmpName}}</td>
                                                                    <td>{{person.KeyQuestion}}</td>
                                                                    <td>【家庭系统评估】:{{person.FamilySubSystem}}<br />【个案对家庭的功能或角色】{{person.FamilyFunRole}}<br />【家属对个案之期待及支持度评估】:{{person.FamilySupport}}<br />【家庭经济能力评估】{{person.FamilyFinancial}}</td>
                                                                    <td>{{person.SocialFormalResource}}</td>
                                                                    <td>{{person.RelativesDiscuss}}</td>
                                                                    <td>
                                                                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                                                            <a class="btn btn-info" ng-click="rowSelect(person)" role="button"><i class="fa fa-pencil"></i>编辑</a>
                                                                            <a class="btn btn-primary" ng-click="deleteEvaluate(person)" role="button"><i class="fa fa-times"></i>删除</a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </ui-data-table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="box_tab5">
                                            <div class="panel-body">
                                                <form class="form-horizontal" role="form" name="fvForm">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">已与家属讨论修订服务计划<span class="required">*</span></label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="3" ng-model="currentItem.RelativesDiscuss" required ng-maxlength="200"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">备注</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="9" ng-model="currentItem.Description"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-9 text-right">
                                                            <button class="btn btn-primary" ng-click="saveRegEvaluate(currentItem)" ng-disabled="fvForm.$invalid">保存</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="box_tab4">
                                            <div class="panel-body">
                                                <form class="form-horizontal" role="form" name="foForm">

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">主要问题(可复选)<span class="required">*</span></label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="3" ng-model="currentItem.KeyQuestion" select-items="需求或问题" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">计划处遇-短期目标</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="3" ng-model="currentItem.ProcessPlan_S" select-items="目标" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">计划处遇-中期目标</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="3" ng-model="currentItem.ProcessPlan_M" select-items="目标"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">计划处遇-长期目标</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="3" ng-model="currentItem.ProcessPlan_L" select-items="目标"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-9 text-right">
                                                            <button class="btn btn-primary" ng-click="saveRegEvaluate(currentItem)" ng-disabled="foForm.$invalid">保存</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="box_tab3">
                                            <div class="panel-body">
                                                <form class="form-horizontal" name="thForm" role="form">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">人际关系<span class="required">*</span></label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="5" ng-model="currentItem.SocialRelationShip" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">社区支持系统</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="5" ng-model="currentItem.SocialSupport"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">正式资源</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="5" ng-model="currentItem.SocialFormalResource" select-items="正式资源"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-9 text-right">
                                                            <button class="btn btn-primary" ng-click="saveRegEvaluate(currentItem)" ng-disabled="thForm.$invalid">保存</button>
                                                        </div>


                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="box_tab2">
                                            <div class="panel-body">
                                                <form class="form-horizontal" name="seForm" role="form">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">家庭系统评估<span class="required">*</span></label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="3" ng-model="currentItem.FamilySubSystem" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">个案对家庭的功能或角色</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="3" ng-model="currentItem.FamilyFunRole"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">家属对个案之期待及支持度评估</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="3" ng-model="currentItem.FamilySupport"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">家庭经济能力评估</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" rows="3" ng-model="currentItem.FamilyFinancial"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-9 text-right">
                                                            <button class="btn btn-primary" type="button" ng-click="saveRegEvaluate(currentItem)" ng-disabled="seForm.$invalid">保存</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade active in" id="box_tab1">
                                            <div class="panel-body">
                                                <form class="form-horizontal" name="eaForm" role="form" novalidate>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="txtAidTools" class="col-md-2 control-label">使用辅具</label>
                                                            <div class="col-md-2">
                                                                <input type="text" class="form-control" id="txtAidTools" ng-model="currentItem.AidTools" select-items="已使用辅具_文字">
                                                            </div>
                                                            <label for="txtBookType" class="col-md-2 control-label">手册障碍类别</label>
                                                            <div class="col-md-2">
                                                                <input type="text" class="form-control" id="txtBookType" ng-model="currentItem.BookType" select-items="手册障别_文字" />
                                                            </div>
                                                            <label for="seleBookDegree" class="col-md-2 control-label">障碍等级</label>
                                                            <div class="col-md-2">

                                                                <select class="form-control" id="seleBookDegree" ng-model="currentItem.BookDegree" select-code="E00.014" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="txtIllCardName" class="col-md-2 control-label">重大伤病卡名称</label>
                                                            <div class="col-md-2">
                                                                <input type="text" class="form-control" id="txtIllCardName" ng-model="currentItem.IllCardName" select-items="重大伤病卡名称" ng-maxlength="200" name="重大伤病卡名称" />
                                                            </div>
                                                            <label for="txtServiceName" class="col-md-2 control-label">曾接受相关服务</label>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="txtServiceName" ng-model="currentItem.ServiceName" select-items="特定需求_文字" name="曾接受相关服务" ng-maxlength="200" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="selMidState" class="col-md-2 control-label">意识状态</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selMidState" ng-model="currentItem.MindState" select-code="E00.005" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>
                                                            <label for="txtCognitiveState" class="col-md-2 control-label">认知状况</label>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="txtCognitiveState" ng-model="currentItem.CognitiveState" select-items="认知状况" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="selExpressionState" class="col-md-2 control-label">口语表达能力</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selExpressionState" ng-model="currentItem.ExpressionState" select-code="E00.008" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>
                                                            <label for="selNonExpressionState" class="col-md-2 control-label">非口语表达能力</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selNonExpressionState" ng-model="currentItem.NonexpressionState" select-code="E00.009" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>
                                                            <label for="selLanguageState" class="col-md-2 control-label">语言理解能力</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selLanguageState" ng-model="currentItem.LanguageState" select-code="E00.015" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="selEmotionState" class="col-md-2 control-label">情绪状况</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selEmotionState" ng-model="currentItem.EmotionState" select-code="E00.016" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>
                                                            <label for="selPersnality" class="col-md-2 control-label">外显人格</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control" id="selPersnality" ng-model="currentItem.Personality" select-code="E00.017" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="selAttention" class="col-md-2 control-label">注意力</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selAttention" ng-model="currentItem.Attention" select-code="E00.018" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>
                                                            <label for="selRealsticsense" class="col-md-2 control-label">现实感</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control" id="selRealsticsense" ng-model="currentItem.Realisticsense" select-code="E00.019" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="selSocialPartcipation" class="col-md-2 control-label">社交参与度</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selSocialPartcipation" ng-model="currentItem.SocialParticipation" select-code="E00.206" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>
                                                            <label for="selSocialAttitude" class="col-md-2 control-label">社交态度</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selSocialAttitude" ng-model="currentItem.SocialAttitude" select-code="E00.207" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>
                                                            <label for="selSocialSkills" class="col-md-2 control-label">社交能力</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selSocialSkills" ng-model="currentItem.SocialSkills" select-code="E00.208" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="selCommSkills" class="col-md-2 control-label">社交技巧-沟通技巧</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selCommSkills" ng-model="currentItem.CommSkills" select-code="E00.209" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>
                                                            <label for="selResponseSkills" class="col-md-2 control-label">社交技巧-应变能力</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selResponseSkills" ng-model="currentItem.ResponseSkills" select-code="E00.210" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>
                                                            <label for="selFixssueSkills" class="col-md-2 control-label">社交技巧-解决问题能力</label>
                                                            <div class="col-md-2">
                                                                <select class="form-control" id="selFixssueSkills" ng-model="currentItem.FixissueSkills" select-code="E00.211" ng-maxlength="10">
                                                                    <option value="">-- 请选择 --</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="txtHobby" class="col-md-2 control-label">个人兴趣嗜好</label>
                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="txtHobby" ng-model="currentItem.Hobby" name="个人兴趣嗜好" select-items="兴趣" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="txtExpertise" class="col-md-2 control-label">个人专长</label>
                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="txtExpertise" ng-model="currentItem.Expertise" select-items="专长" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="txtSpecialBehavior" class="col-md-2 control-label">特殊行为</label>
                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="txtSpecialBehavior" ng-model="currentItem.SpecialBehavior" select-items="特殊行为" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="txtAdmissionReason" class="col-md-2 control-label">入住原因摘要</label>
                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="txtAdmissionReason" ng-model="currentItem.AdmissionReason" select-items="入住原因" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="txtMedicalHistory" class="col-md-2 control-label">生理层面概述(过去病史)</label>
                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="txtMedicalHistory" ng-model="currentItem.MedicalHistory" select-items="健康状况" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="txtPsychologyDesc" class="col-md-2 control-label">心理层面概述</label>
                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="txtPsychologyDesc" ng-model="currentItem.PsychologyDesc" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">

                                                        <label class="col-md-1 control-label">评估人员<span class="required">*</span></label>
                                                        <div class="col-md-2">
                                                            <!--<select class="form-control" id="selNextEvaluator" ng-model="currentItem.EvaluateBy" ng-options="t.EmpNo as t.EmpName for t in Data.EmpList" required></select>-->
                                                            <input-staff id="selEvaluteBy" callback="staffSelected(item,'selEvaluteBy')" value="{{currentItem.EvaluateBy}}" name="评估人员" required="true" />
                                                        </div>
                                                        <label class="col-md-1 control-label">评估日期<span class="required">*</span></label>
                                                        <div class="col-md-2">
                                                            <input type="text" class="form-control" id="dtEvalDate" ng-change="ChangeEvalDate()" ng-model="currentItem.EvalDate" name="评估日期" ca-date-picker required />
                                                        </div>

                                                        <label class="col-md-1 control-label">间隔天数</label>
                                                        <div class="col-md-2">
                                                            <input type="text" class="form-control" id="Gap" ng-change="setNextValDate(currentItem.Gap)" ng-model="currentItem.Gap" name="间隔天数" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-1 control-label">下次评估日期</label>
                                                        <div class="col-md-2">
                                                            <input class="form-control" type="text" ng-model="currentItem.NextEvalDate" ng-change="ChangeNextEvalDate()" ca-date-picker />
                                                        </div>
                                                        <label class="col-md-1 control-label">下次受托者</label>
                                                        <div class="col-md-2">
                                                            <input-staff id="selNextEvaluator" callback="staffSelected(item,'selNextEvaluator')" value="{{currentItem.NextEvaluateBy}}" name="下次受托者" />
                                                            <!--<select class="form-control" id="selNextEvaluator" ng-model="currentItem.NextEvaluateBy" ng-options="t.EmpNo as t.EmpName for t in Data.EmpList"></select>-->
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="pull-right">
                                                                <div class="btn-group " role="group" aria-label="...">
                                                                    <!--<input type="text" class="form-control" ng-model="currentItem.feeNo " /><input type="hidden" ng-model="currentItem.RgeNo" />-->
                                                                    <button class="btn btn-primary" type="button" ng-click="saveRegEvaluate(currentItem)">保存</button>
                                                                    <button type="button" class="btn btn-default" ng-click="resetForm(currentItem)">重置</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="fa fa-chevron-up"></i> Top
            </span>
        </div>
    </div>
</div>

<script>
    $(".datepicker").datepicker({
        dateFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true
    });
</script>
