
<div class="panel panel-default">
    <div class="panel-heading">身心社会评估</div>
    <div class="panel-body">

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">使用辅具</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtAuxiliaryTool" />
                    </div>
                    <label for="txtCategory" class="col-sm-1 control-label">手册障碍类别</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtCategory" />
                    </div>
                    <label for="txtCategory" class="col-sm-1 control-label">障碍等级</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtCardName" class="col-sm-1 control-label">重大伤病卡名称</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtCardName" />
                    </div>
                    <label for="txtService" class="col-sm-1 control-label">曾接受相关服务</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="txtService" />
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtCardName" class="col-sm-1 control-label">意识状态</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtCardName" />
                    </div>
                    <label for="txtService" class="col-sm-1 control-label">认知状况</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="txtService" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">口语表达能力</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>
                    <label for="txtCategory" class="col-sm-1 control-label">非口语表达能力</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>
                    <label for="txtCategory" class="col-sm-1 control-label">语言理解能力</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">情绪状况</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>
                    <label for="txtCategory" class="col-sm-1 control-label">外显人格</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">注意力</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>
                    <label for="txtCategory" class="col-sm-1 control-label">现实感</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">社交参与度</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>
                    <label for="txtCategory" class="col-sm-1 control-label">社交态度</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>
                    <label for="txtCategory" class="col-sm-1 control-label">社交能力</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">社交技巧-沟通技巧</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>
                    <label for="txtCategory" class="col-sm-1 control-label">社交技巧-应变能力</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>
                    <label for="txtCategory" class="col-sm-1 control-label">社交技巧-解决问题能力</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="selCategory" ng-model="Data.Gender" ng-options="Gender.Value as Gender.Name for Gender in Dic.Gender"></select>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">个人兴趣嗜好</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtCategory" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">个人专长</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtCategory" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">特殊行为</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtCategory" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">入住原因摘要</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtCategory" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">生理层面概述(过去病史)</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtCategory" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="txtAuxiliaryTool" class="col-sm-1 control-label">心理层面概述</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtCategory" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-primary start col-sm-offset-1" type="submit">
                        <i class="fa fa-arrow-circle-o-up"></i>
                        <span>新增</span>
                    </button>

                    <button class="btn btn-primary start" type="submit">
                        <i class="fa fa-arrow-circle-o-up"></i>
                        <span>存档</span>
                    </button>

                    <button class="btn btn-primary start" type="submit">
                        <i class="fa fa-arrow-circle-o-up"></i>
                        <span>返回</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
